<section class="about" id="about">
  <div class="container">
    <div class="about-wrap">
      <h2 class="visually-hidden">About me</h2>
      <p class="about-text">
        I work with people all over the world to create impressive and
        <span class="about-title-span-a">functional</span>
        <span class="about-title-span-b">websites</span> that reflect each
        client's unique personality.
      </p>
      <img src="" alt="about-developer-image" class="about-img" />
      <ul class="about-info">
        <li class="about-item">
          <h2 class="about-info-title">
            <button class="about-info-expand-button" type="button">
              About me
            </button>
          </h2>
          <div class="about-panel-wrap">
            <p class="about-info-text">
              I am Lloyd Jefferson, a talented programmer with extensive
              expertise in software development. I have an understanding of
              different programming languages and technologies, always ready to
              improve my skills. I always follow the latest trends and look for
              unconventional, creative solutions to problems. I have a high
              level of analytical skills and am able to effectively solve even
              the most difficult tasks encountered on the way. Able to work both
              independently and in a team. I can effectively cooperate with
              colleagues, exchanging ideas and finding optimal solutions.
              Professional maturity allows you to calmly cope with challenges
              and stressful situations, while maintaining a high quality of
              work.I am always looking for opportunities for self-improvement. I
              actively study new technologies and practices to stay abreast of
              the latest innovations. I have a strong understanding of various
              programming languages, frameworks and architectural concepts that
              allow me to create efficient and scalable software.
            </p>
          </div>
        </li>
        <li class="about-item">
          <h2 class="about-info-title">
            <button class="about-info-expand-button" type="button">Role</button>
          </h2>

          <div class="about-panel-wrap">
            <p class="about-info-text">
              Frontend development HeadlessCMS,Wordpress Blender(enjoy)
            </p>
          </div>
        </li>
        <li class="about-item">
          <h2 class="about-info-title">
            <button class="about-info-expand-button" type="button">
              Education
            </button>
          </h2>

          <div class="about-panel-wrap">
            <p class="about-info-text">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York 2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York 2020 - 2022 / Advanced Blender Animation
              Techniques, Udemy
            </p>
          </div>
        </li>
      </ul>
      <div class="tech-stack-wrap">
        <div class="about-swiper">
          <ul class="tech-stack">
            <li class="tech-name"><p>HTML/CSS</p></li>
            <li class="tech-name"><p>JavaScript</p></li>
            <li class="tech-name"><p>React</p></li>
            <li class="tech-name"><p>Node. js</p></li>
            <li class="tech-name"><p>React Native</p></li>
            <li class="tech-name"><p>Soft skills</p></li>
          </ul>
        </div>
        <div class="about-swiper-button-next">-></div>
      </div>
    </div>
  </div>
</section>
