<section class="covers section" id="covers">
  <div class="covers-container container">
    <h2 class="visually-hidden">Covers</h2>
    <div class="carousel-wrapper">
      <ul class="carousel carousel-from-start-1 carousel-from-start"></ul>
      <ul class="carousel carousel-from-end-1"></ul>
      <ul class="carousel carousel-from-start-2 carousel-from-start"></ul>
      <ul class="carousel carousel-from-end-2"></ul>
      <ul class="carousel carousel-from-start-3 carousel-from-start"></ul>
    </div>
  </div>
</section>
