<!-- footer -->
<footer class="work-together">
  <div class="container">
    <div class="footer-title-wrap">
      <img src="" alt="logo" class="footer-logo" />
      <h2 class="footer-title">
        Let's <span class="footer-title-span">work</span> together
      </h2>
    </div>
    <form action="" class="footer-form">
      <label><input type="email" placeholder="clients@gmail.com" /></label>
      <label><input type="text" placeholder="comments" /></label>
    </form>
    <button class="footer-form-submit" type="submit">Send</button>
    <div class="submit-pop-up visually-hidden">
      <button type="button" class="submit-pop-up-close-button">X</button>
      <h3 class="submit-pop-up-title">
        Thank you for your interest in cooperation!
      </h3>
      <p class="submit-pop-up-text">
        The manager will contact you shortly to discuss further details and
        opportunities for cooperation. Please stay in touch.
      </p>
    </div>
    <address class="footer-address">
      <a class="footer-email" href="mailto:lloydjefferson@gmail.com"
        >lloydjefferson@gmail.com</a
      >
      <a class="footer-phone" href="tel:+3801111111111">+380 11 1111 11 11</a>
    </address>
  </div>
</footer>
