<header>
  <div class="logo"></div>
  <nav class="navigation">
    <button class="nav-menu-button">Menu</button>
    <ul class="nav-list">
      <li>
        <a href="#about" class="nav-link">About me</a>
      </li>
      <li><a href="#benefits" class="nav-link">Benefits</a></li>
      <li><a href="#projects" class="nav-link">Projects</a></li>
      <li><a href="#faq" class="nav-link">FAQ</a></li>
    </ul>
  </nav>
  <button class="burger-menu">☰</button>
  <button class="header-order-button" href="">Order the project</button>
</header>
