<section class="hero" id="hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      Hello. <br />I'm Fullstack developer Lloyd Jefferson.
    </h1>
    <ul class="socials">
      <li>
        <a
          href="https://www.instagram.com/goitclub/"
          class="social-links"
          target="_blank"
          rel="noopener noreferrer"
          >IG</a
        >
      </li>
      <li>
        <a
          href="https://www.facebook.com/goITclub/"
          class="social-links"
          target="_blank"
          rel="noopener noreferrer"
          >FB</a
        >
      </li>
      <li>
        <a
          href="https://www.youtube.com/c/GoIT"
          class="social-links"
          target="_blank"
          rel="noopener noreferrer"
          >YT</a
        >
      </li>
      <li>
        <a
          href="https://github.com/kulakaa073/portfolio-project"
          class="social-links"
          target="_blank"
          rel="noopener noreferrer"
          >GH</a
        >
      </li>
      <li>
        <a href="mailto:lloydjefferson@gmail.com" class="social-links-email"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
