<div class="mobile-menu-overlay">
  <div class="mobile-menu">
    <button class="mobile-menu-close-button">
      <svg class="close-button-icon" alt="X" width="28" height="28">
        <use href="img/sprites.svg#icon-close-x"></use>
      </svg>
    </button>
    <ul class="mobile-menu-nav">
      <li><a href="#about" class="mobile-menu-nav-link">About me</a></li>
      <li><a href="#benefits" class="mobile-menu-nav-link">Benefits</a></li>
      <li><a href="#projects" class="mobile-menu-nav-link">Projects</a></li>
      <li><a href="#faq" class="mobile-menu-nav-link">FAQ</a></li>
    </ul>
    <a class="mobile-menu-order-button" href="#work-together">
      Order the project
    </a>
  </div>
</div>
