<section class="projects">
  <div class="container">
    <p class="projects-note">Projects</p>
    <ul class="projects-list">
      <li class="project-card">
        <ul class="project-tech-used">
          <li>
            <p>#react</p>
          </li>
          <li><p>#js</p></li>
          <li><p>#node js</p></li>
          <li><p>#git</p></li>
        </ul>
        <p class="project-descr">
          Programming Across Borders: Ideas, Technologies, Innovations
        </p>
        <button type="button" class="check-project-button">See project</button>
        <img src="" alt="project-image" class="project-image" />
      </li>
    </ul>
    <button class="project-list-controlls">previous</button>
    <button class="project-list-controlls">next</button>
  </div>
</section>
