<section class="projects">
  <div class="container">
    <h2 class="projects-title">Projects</h2>
    <div class="projects-swiper">
      <ul class="projects-list">
        <li class="project-card">
          <div class="project-card-wrap">
            <ul class="project-tech-used">
              <li>
                <p>#react</p>
              </li>
              <li><p>#js</p></li>
              <li><p>#node js</p></li>
              <li><p>#git</p></li>
            </ul>
            <p class="project-card-descr">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="check-project-button"
              href="https://github.com/kulakaa073/portfolio-project"
              target="_blank"
              rel="noopener noreferrer"
            >
              See project
            </a>
          </div>
          <div class="project-image-wrap">
            <picture>
              <source
                srcset="
                  img/project-1-image@1x.png 1x,
                  img/project-1-image@2x.png 2x
                "
              />
              <img
                src="img/project-1-image@1x.png"
                alt="project-image"
                class="project-image"
              />
            </picture>
          </div>
        </li>
        <li class="project-card">
          <div class="project-card-wrap">
            <ul class="project-tech-used">
              <li>
                <p>#react</p>
              </li>
              <li><p>#js</p></li>
              <li><p>#node js</p></li>
              <li><p>#git</p></li>
            </ul>
            <p class="project-card-descr">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="check-project-button"
              href="https://github.com/kulakaa073/portfolio-project"
              target="_blank"
              rel="noopener noreferrer"
            >
              See project
            </a>
          </div>
          <div class="project-image-wrap">
            <picture>
              <source
                srcset="
                  img/project-2-image@1x.png 1x,
                  img/project-2-image@2x.png 2x
                "
              />
              <img
                src="img/project-2-image@1x.png"
                alt="project-image"
                class="project-image"
              />
            </picture>
          </div>
        </li>
        <li class="project-card">
          <div class="project-card-wrap">
            <ul class="project-tech-used">
              <li>
                <p>#react</p>
              </li>
              <li><p>#js</p></li>
              <li><p>#node js</p></li>
              <li><p>#git</p></li>
            </ul>
            <p class="project-card-descr">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="check-project-button"
              href="https://github.com/kulakaa073/portfolio-project"
              target="_blank"
              rel="noopener noreferrer"
            >
              See project
            </a>
          </div>
          <div class="project-image-wrap">
            <picture>
              <source
                srcset="
                  img/project-3-image@1x.png 1x,
                  img/project-3-image@2x.png 2x
                "
              />
              <img
                src="img/project-3-image@1x.png"
                alt="project-image"
                class="project-image"
              />
            </picture>
          </div>
        </li>
      </ul>
    </div>
    <div class="project-swiper-controlls-wrap">
      <div class="project-swiper-controlls-prev">
        <svg class="swiper-button-icon">
          <use href="./img/sprites.svg#icon-arrow-left" alt="<-"></use>
        </svg>
      </div>
      <div class="project-swiper-controlls-next">
        <svg class="swiper-button-icon">
          <use href="./img/sprites.svg#icon-arrow-right" alt="->"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
