<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="reviews-fetch-error">
      <p>No reviews available.</p>
    </div>
    <!-- TODO: Downloaded from backend -->
    <div class="reviews-swiper">
      <ul class="reviews-list">
        <!-- Markup for backend stuff
        <li class="review-card">
          <img src="" alt="reviewer-photo" class="review-img" />
          <h3 class="reviewer-name">Natalia</h3>
          <p class="review-text">
            Work with was extraordinary! He turned out to be a very competent
            and responsible specialist. The projects were completed on time and
            the result exceeded my expectations
          </p>
        </li> -->
      </ul>
    </div>
    <div class="review-swiper-controlls-wrap">
      <div class="review-swiper-controlls-prev">
        <svg class="swiper-button-icon">
          <use href="./img/sprites.svg#icon-arrow-left" alt="->"></use>
        </svg>
      </div>
      <div class="review-swiper-controlls-next">
        <svg class="swiper-button-icon">
          <use href="./img/sprites.svg#icon-arrow-right" alt="->"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
