.covers {
  height: 508px;
}
@media only screen and (min-width: 768px) {
  .covers {
    height: 960px;
  }
}

.covers-container {
  position: relative;
  height: 100%;
  overflow: hidden;
  background-image: url(./../img/cover-background.png);
  background-size: 1108px 784px;
  background-position: bottom -169px right -250px;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  .covers-container {
    background-size: 1288px 1004px;
    background-position: bottom 71px right -150px;
  }
}
@media only screen and (min-width: 1440px) {
  .covers-container {
    background-size: 1528px 1064px;
    background-position: bottom -55px left 171px;
  }
}

.carousel-wrapper {
  position: absolute;
  left: 0;
  top: calc(50% - 24px);
  transform: translateY(-50%) rotate(17deg);
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .carousel-wrapper {
    top: calc(50% - 43px);
  }
}

.carousel {
  display: flex;
  gap: 20px;
  margin-bottom: 24px;
  transition: transform 15s ease-in-out;
}
@media only screen and (min-width: 768px) {
  .carousel {
    gap: 62px;
    margin-bottom: 43px;
  }
  .carousel-from-start {
    gap: 40px;
  }
}

.slide {
  flex: 0 0 282px;
  height: 162px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media only screen and (min-width: 768px) {
  .slide {
    flex: 0 0 544px;
    height: 314px;
  }
}
