.faq {
  padding-bottom: 64px;
  padding-top: 32px;
}

.faq-title {
  margin-bottom: 32px;
}

.faq-questions-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq-answer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -2%;
  color: #fafafa99;
}

.faq-question-card.js-enabled .faq-answer {
  visibility: hidden;
}
.faq-question-card.is-active .faq-answer {
  visibility: visible;
}
