.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding-top: 32px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  color: #fafafa;
}
