.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding-top: 32px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.burger-menu {
  cursor: pointer;
}

.header-logo-link {
  display: flex;
  gap: 8px;
  align-items: baseline-top;
}

.header-logo-svg {
  width: 84px;
  height: 19px;
  fill: #fafafa;
}

.header-logo-svg:hover,
.header-logo-svg:focus {
  fill: #ed3b44;
}

.burger-menu-icon {
  fill: #fafafa;
  width: 28px;
  height: 28px;
}

.burger-menu-icon:hover,
.burger-menu-icon:focus {
  fill: #ed3b44;
}
