/* TODO: 
  fix socials position
  add background image */

.hero {
  padding: 281px 0;
  background-image: url(../img/hero-cover-red@1x.png);
}

.hero-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -3%;
  text-transform: uppercase;
  color: #fafafa;
}

.socials {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 4px;
  bottom: -249px;
}

.socials > li {
  width: 37px;
  height: 37px;
  background-color: transparent;
  text-align: center;
  padding: 10px 0;
  border: 1px solid #fafafa33;
  border-radius: 60px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -2%;
  color: #fafafa;
  cursor: pointer;
}

.socials li:hover,
.socials li:focus {
  border: 1px solid #fafafa;
}

.socials li:last-child {
  padding: 10px 12px;
  width: unset;
}
