.projects {
  padding: 48px 0;
}

.projects-title {
  margin-bottom: 32px;
}

.projects-list {
  display: flex;
  flex-direction: row;
}

.project-card {
  border-radius: 24px;
  background-color: #242527;
}

.project-card-wrap {
  width: 343px;
  padding: 32px;
  background-color: #fafafa;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

@media screen and (min-width: 768px) {
  .project-card-wrap {
    width: 704px;
    padding: 64px;
  }
}

.project-tech-used {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 96px;
}

.project-tech-used li {
  border: 1px solid #1c1d2033;
  border-radius: 60px;
  padding: 13px 18px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -2%;
  color: #1c1d20;
}

@media screen and (min-width: 768px) {
  .project-tech-used {
    margin-bottom: 164px;
  }

  .project-tech-used li {
    padding: 18px;
  }
}

.project-card-descr {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -3%;
  color: #1c1d20;
  padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .project-card-descr {
    font-weight: 500;
    font-size: 44px;
    line-height: 1;
  }
}

.check-project-button {
  background-color: #ed3b44;
  border: none;
  border-radius: 60px;
  font-family: Inter Tight;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -2%;
  color: #fafafa;
  padding: 13px 32px;
  transition: background-color 0.5s ease-in-out;
}

@media screen and (min-width: 768px) {
  .check-project-button {
    padding: 18px 50px;
  }
}

.check-project-button:focus,
.check-project-button:hover {
  background-color: #e0373f;
}

.project-image-wrap {
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .project-image-wrap {
    padding: 120px 0;
  }
}

.project-image {
  width: 311px;
  height: 195px;
  overflow: hidden;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .project-image-wrap {
    padding: 120px 0;
  }

  .project-image {
    width: 614px;
    height: 385px;
  }
}

.projects-swiper {
  overflow: hidden;
  margin-bottom: 32px;
}

.project-swiper-controlls-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.project-swiper-controlls-prev,
.project-swiper-controlls-next {
  cursor: pointer;
  border: 1px solid #fafafa80;
  border-radius: 60px;
  fill: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  transition: border 0.5s ease-in-out, fill 0.5s ease-in-out;
}

.project-swiper-controlls-prev.swiper-button-disabled,
.project-swiper-controlls-next.swiper-button-disabled {
  border: 1px solid #fafafa33;
  fill: #3b3b3b;
}

.swiper-button-icon {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .project-swiper-controlls-prev,
  .project-swiper-controlls-next {
    width: 68px;
    height: 68px;
  }

  .swiper-button-icon {
    width: 32px;
    height: 32px;
  }
}
