.reviews {
  padding: 64px 0;
}

.reviews-title {
  margin-bottom: 32px;
}

.reviews-list {
  display: flex;
}

.review-card-wrap {
  width: 343px;
}

.review-card {
  border: 1px solid #fafafa33;
  border-radius: 20px;
  padding: 32px 24px;
  background-color: transparent;
}

.review-img {
  width: 48px;
  height: 48px;
  margin-bottom: 32px;
  border-radius: 10px;
}

.reviewer-name {
  margin-bottom: 8px;
}

.review-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -2%;
  color: #fafafa99;
  max-width: 295px;
}

.reviews-fetch-error {
  display: none;
}

.reviews-swiper {
  margin-bottom: 32px;
  overflow: hidden;
}

.review-swiper-controlls-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.review-swiper-controlls-prev,
.review-swiper-controlls-next {
  cursor: pointer;
  border: 1px solid #fafafa80;
  border-radius: 60px;
  fill: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
}

.review-swiper-controlls-prev.swiper-button-disabled,
.review-swiper-controlls-next.swiper-button-disabled {
  border: 1px solid #fafafa33;
  fill: #3b3b3b;
}
